
#scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #666363;
}

      html
      {
        scroll-behavior: smooth;
      }
  	 header
  {
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
  } 
     .carousel-inner img
  {
    width: 100%;
    height: 100%;
  }
  .caption
  {
    font-size: 20px;
    font-weight: bold;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  @media only screen and (max-width: 600px) {
  body {
    
    #PConly
    {
      display: none;
    }
  }
}
  .carousel-caption p
  {
    font-size:  2em;
    color:  red !important;
  }
  .scrollheader
{
  font-family:Andika;
  text-align: center;
  font-size: 25px; 
  background-color:#c6c6c6;
  
}
  #more1 {display: none;}
  #more2 {display: none;}
  #more3 {display: none;}
  #more5 {display: none;}
  #more6 {display: none;}
  .zoom{
     transition: transform .5s;
  }
  .zoom:hover{
    transform: scale(1.2);
  }
  #l
  {
    width: 70%;
    height: 50px;
    text-align: center;
    display: flex;
    color: white;
    border-width: 0px;
    justify-content: center;
   background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
 }
 #myBtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtnTop:hover {
   background-position: right center; 
}
#myBtn1,#myBtn2,#myBtn3,#myBtn5,#myBtn6
{
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  font-weight: bold;
  border-style: none;
}
#CLINK
{
  text-decoration: none;
  color: black;
}
#CLINK:hover
{
  font-weight: bold;
}
.text-center
{
  line-height: 28px;
  text-align: center;
}


#cat
{
  width: 60%;
}
.post-tabs
{
  margin-bottom: 20px;
  border:1px solid black;
  display: block;
}
.post-tabs ul.tabs-nav
{
  margin:0;
  background: #f1f1f1;
  display: block;
}
#GEN,#OBC,#SC,#ST
{
  display: none;
}
#GENLIST a,#OBCLIST a,#SCLIST a,#STLIST a
{
  color: black;
}
#GENLIST a:hover,#OBCLIST a:hover,#SCLIST a:hover,#STLIST a:hover
{
  font-weight: bold;
}